// Colors
$dark-color:  #16131b;
$base-color:  #666666;
$light-color: #ffffff;

$alt-color:   #fdcb00;
$hover-color: #fdd532;

// Division
$grid-columns: 12;

// Grids
$grid-gutter-width: 20px;

// Fonts
$base-font: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$alt-font:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Responsive screen widths
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1170px;
$screen-lg: 1600px;
